
<!-- Toolbar -->
<div class="topnav" role="banner">

  <span style="margin-left: 10px; text-transform: capitalize;"> Lime Home </span>
    <div class="spacer"></div>
  <a aria-label="Lime " target="_blank" rel="noopener" href="#" title="LimeHomes">

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <title>menu</title>
      <path fill="#888888" d="M2 6h28v6h-28zM2 14h28v6h-28zM2 22h28v6h-28z"></path>
    </svg>
</a>
</div>


<div class="content" role="main">

  <div  class="map-section" #map> </div>
  <div class="overlay-content" style="bottom: 0; z-index: 100;">

    <div class="overlay">

      <div class="overlay-content">
      <div class="card-container">
          <div class="flex-container">
            <div class="box">
               <img src="../assets/sample_hotel.jpg">
            </div>
            <div class="box">
               <h6> Hotel title</h6>
               <p class="distance"> 3.4 km  from the city center </p>

              <p class="price"> 98 </p>
              <p class="design"> Design mary vary </p>
            </div>
          </div>
      </div>
        <div class="card-container">
        <div class="card card-small book-button" >
          <span>Book Now</span>
        </div>
      </div>
      </div>

    </div>


    <!-- Hotel available-->
  </div>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


